<footer class="page-footer-2 text-center font-small blue darken-2 mt-4 text-white">

    <div class="container-fluid text-center text-md-left ">

        <div class="row">

            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase mt-3">Electro Wallet</h5>
                <p>   The best place to see what you spend and how much you spend!</p>
            </div>

            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-md-2 mb-md-0 mb-3">


                <h5 class="text-uppercase">Social Media</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-white"><i class="fab fa-facebook-f"></i> Facebook</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white"><i class="fab fa-twitter"></i> Twitter</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white"><i class="fab fa-instagram"></i> Instagram</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white"><i class="fa fa-fill"></i> Filler</a>
                    </li>
                </ul>

            </div>

            <div class="col-md-2 mb-md-0 mb-3">

                <h5 class="text-uppercase">Website</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path("app_homepage") }}" class="text-white"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a href="{{ path("app_logout") }}" class="text-white"><i class="fa fa-sign-out-alt"></i> Logout</a>
                    </li>
                    <li>
                        <a href="{{ path("app_register") }}" class="text-white"><i class="fa fa-user-plus"></i> Register</a>
                    </li>
                    <li>
                        <a href="{{ path("app_dashboard") }}" class="text-white"><i class="fa fa-user"></i> User Dashboard</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-2 mb-md-0 mb-3">


                <h5 class="text-uppercase">User Dashboard</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('app_dashboard') }}" class="text-white"><i class="fas fa-chart-pie mr-3"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="{{ path('app_dashboard_profile') }}" class="text-white"><i class="fas fa-user mr-3"></i> Profile</a>
                    </li>
                    <li>
                        <a href="{{ path('app_dashboard_tables') }}" class="text-white"><i class="fas fa-table mr-3"></i> Tables</a>
                    </li>
                    <li>
                        <a href="{{ path('app_dashboard_statistics') }}" class="text-white"><i class="fas fa-percentage mr-3"></i> Statistics</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="footer-copyright py-3 blue darken-3">
        © {{ "now"|date("Y") }} Copyright:
        <a href="http://secondsection.in.rs" target="_blank" class="text-white"> undefined; </a>
    </div>

</footer>

